<div class="container mt-4">
  <div class="row mb-5" style="margin-top:30px;">
    <div class="col-lg-10 offset-lg-2 mt-4">
      <h4 style="background-color:#eee; text-align:center; width:150px;">マイページ</h4>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-lg-8">
      <h4><strong>登録情報</strong>　<%= link_to "編集する", customers_information_edit_path(@customer), class: "btn btn-success" %></h4>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-lg-8">
      <table class="table table-bordered">
        <tbody class="table-active">
          <tr>
            <th class="bg-gray-light" style="width:28%;">氏名</th>
            <td class="bg-white" style="width:72%;"><%= "#{@customer.last_name} #{@customer.first_name}" %></td>
          </tr>
          <tr>
            <th class="bg-gray-light">カナ</th>
            <td class="bg-white"><%= "#{@customer.last_name_kana} #{@customer.first_name_kana}" %></td>
          </tr>
          <tr>
            <th class="bg-gray-light">郵便番号</th>
            <td class="bg-white"><%= @customer.postal_code %></td>
          </tr>
          <tr>
            <th class="bg-gray-light">住所</th>
            <td class="bg-white"><%= @customer.address %></td>
          </tr>
          <tr>
            <th class="bg-gray-light">電話番号</th>
            <td class="bg-white"><%= @customer.telephone_number %></td>
          </tr>
          <tr>
            <th class="bg-gray-light">メールアドレス</th>
            <td class="bg-white"><%= @customer.email %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <div class="row mb-5">
    <div class="col-lg-10">
      <h4><strong>注文履歴</strong>　<%= link_to "一覧を見る", orders_path, class: "btn btn-primary" %></h4>
    </div>
  </div>

</div>
