<div class="container mt-4">
  <div class="row">
    <div class="col-lg-6">
      <h2>商品編集</h2>
    </div>
  </div>

  <div class="my-4"></div> <!-- 余白を作成 -->

  <div class="row">
    <div class="col-lg-6">
      <%= form_with model: @item, url: admin_item_path(@item), method: :patch, multipart: true do |f| %>
        <div class="form-group row">
          <%= f.label :image, "商品画像", class: "col-sm-2 col-form-label" %>
          <div class="col-sm-10">
            <%= f.file_field :image %>
          </div>
        </div>

        <!-- 商品名の入力フィールド -->
        <div class="form-group row">
          <%= f.label :name, "商品名", class: "col-sm-2 col-form-label" %>
          <div class="col-sm-10">
            <%= f.text_field :name, class: "form-control", placeholder: "商品名" %>
          </div>
        </div>

        <!-- 商品説明の入力フィールド -->
        <div class="form-group row">
          <%= f.label :introduction, "商品説明", class: "col-sm-2 col-form-label" %>
          <div class="col-sm-10">
            <%= f.text_area :introduction, class: "form-control", placeholder: "ここに説明文を記述します" %>
          </div>
        </div>

        <!-- ジャンルの選択 -->
        <div class="form-group row">
          <%= f.label :genre_id, "ジャンル", class: "col-sm-2 col-form-label" %>
          <div class="col-sm-10">
            <%= f.collection_select :genre_id, Genre.all, :id, :name, { prompt: "ジャンルを選択してください" }, class: "form-control" %>
          </div>
        </div>

        <!-- 税抜価格の入力フィールド -->
        <div class="form-group row">
          <%= f.label :price, "税抜価格", class: "col-sm-2 col-form-label" %>
          <div class="col-sm-10">
            <div class="input-group">
              <%= f.text_field :price, class: "form-control" %>
              <div class="input-group-append">
                <span>円</span>
              </div>
            </div>
          </div>
        </div>

        <!-- 販売ステータスの選択 -->
        <div class="form-group row">
          <%= f.label :is_active, "販売ステータス", class: "col-sm-2 col-form-label" %>
          <div class="col-sm-10">
            <div class="form-check form-check-inline">
              <%= f.radio_button :is_active, true, id: "active", class: "form-check-input" %>
              <%= f.label :is_active_true, "販売中", class: "form-check-label", for: "active" %>
            </div>
            <div class="form-check form-check-inline">
              <%= f.radio_button :is_active, false, id: "inactive", class: "form-check-input" %>
              <%= f.label :is_active_false, "販売停止中", class: "form-check-label", for: "inactive" %>
            </div>
          </div>
        </div>

        <!-- 更新ボタン -->
        <div class="form-group row">
          <div class="col-sm-10 offset-sm-2">
            <%= f.submit "更新", class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>