<div class="container mt-4">
  <div class="row">
    <div class="col-lg-12">
      <h2>商品詳細</h2>
    </div>
  </div>
  <div class="row">
    <!-- 商品画像 -->
    <div class="col-lg-6">
  <%= image_tag(@item.get_image, class: "img-fluid", width: 300, height: 300) %>
</div>
    <!-- 商品情報 -->
    <div class="col-lg-6">

      <table class="table">
          <tbody>
            <tr>
              <td>商品名</td>
              <td><%= @item.name %></td>
            </tr>
            <tr>
              <td>商品説明</td>
              <td><%= @item.introduction %></td>
            </tr>
            <tr>
              <td>ジャンル</td>
              <td><%= @item.genre.name %></td>
            </tr>
            <tr>
              <td>価格</td>
              <td><%= @item.price %>円</td>
            </tr>
            <tr>
              <td>販売ステータス</td>
              <td>
              <% if @item.is_active == true %>
              販売中
              <% else %>
              販売停止中
              <% end %>
              </td>
            </tr>

            <tr>
              <td colspan="2">
                <%= link_to "編集", edit_admin_item_path(@item), class: "btn btn-primary" %>
              </td>
            </tr>


          </tbody>
      </table>

    </div>
  </div>
</div>