<div class="row m-0 p-0 mb-3">
  <h2 class="px-4">管理者ログイン</h2>
</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="row py-2">
    <div class="col-md-2 offset-md-3">
      <%= f.label "メールアドレス" %>
    </div>
    <div class="col-md-5">
      <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "w-100" %>
    </div>
  </div>

  <div class="row py-2">
    <div class="col-md-2 offset-md-3">
      <%= f.label "パスワード" %>
    </div>
    <div class="col-md-5">
      <%= f.password_field :password, autocomplete: "current-password",class: "w-100" %>
    </div>
  </div>

  <div class="row pt-3">
    <div class="col text-center">
      <%= f.submit "ログイン", class:"btn btn-primary px-5 mt-3 mb-5" %>
    </div>
  </div>
<% end %>


