<div class="row m-0 p-0 mb-3">
  <h2 class="px-4">
    <% if @customer == nil %>
      注文履歴一覧
    <% else %>
      <%= @customer.last_name %><%= @customer.first_name %>さんの注文履歴一覧
    <% end %>
  </h2>
</div>



  <table class="table">
    <thead class="table-active">
      <tr>
        <th>購入日時</th>
        <% if @customer == nil %>
          <th>購入者</th>
        <% end %>
        <th>注文個数</th>
        <th>注文ステータス</th>
      </tr>
    </thead>
    <% @orders.each do |order| %>
      <tr>
        <td><%=link_to order.created_at.strftime('%Y/%m/%d %H:%M:%S'), admin_order_path(order) %></td>
        <% if @customer == nil %>
          <td><%= order.customer.last_name %><%= order.customer.first_name %></td>
        <% end %>
        <td><%= order.order_details.sum(:amount) %></td> <!-- 注文明細の数量を合計して表示 -->
        <td><%= order.status %></td>
      </tr>
    <% end %>
  </table>
  <ul class="pagination justify-content-center mt-4">
    <%= paginate @orders %>
  </ul>
</div>