<div class="row">
  <div class="col-lg-10 offset-lg-1 pb-2 text-center">
    <h3 class="px-3" style="background-color:#eee; width:fit-content;">
      <% if @customer == nil %>
        注文履歴一覧
      <% else %>
        <%= @customer.last_name %><%= @customer.first_name %>さんの注文履歴一覧
      <% end %>
    </h3>
  </div>
</div>

  <table class="table">
    <thead class="table-active">
      <tr>
        <th>購入日時</th>
        <% if @customer == nil %>
          <th>購入者</th>
        <% end %>
        <th>注文個数</th>
      </tr>
    </thead>
    <% @orders.each do |order| %>
      <tr>
        <td><%=link_to order.created_at.strftime('%Y/%m/%d %H:%M:%S'), admin_order_path(order) %></td>
        <% if @customer == nil %>
          <td><%= order.customer.last_name %><%= order.customer.first_name %></td>
        <% end %>
        <td><%= order.order_details.sum(:amount) %></td> <!-- 注文明細の数量を合計して表示 -->
      </tr>
    <% end %>
  </table>
  <ul class="pagination justify-content-center mt-4">
    <%= paginate @orders %>
  </ul>
</div>