<div class="row mt-4">
  <div class="col-lg-11">
    <h3 class="px-3" style="background-color:#eee; text-align:center; width:fit-content;">配送先登録/一覧</h3>
  </div>
</div>

<%= form_for @address, url: addresses_path, method: :post do |f| %>
  <%= render "public/shared/error_messages", resource: @address %>

  <!-- 余白 -->
  <div class="my-4"></div>

  <!-- 郵便番号 -->
  <div class="row">
    <div class="col-lg-3 pl-5 mb-2">
      <%= f.label :'郵便番号（ハイフンなし）' %>
    </div>
    <div class="col-lg-3">
      <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code" %>
    </div>
  </div>

  <!-- 住所 -->
  <div class="row">
    <div class="col-lg-3 pl-5 mb-2">
      <%= f.label :住所 %>
    </div>
    <div class="col-lg-6">
      <%= f.text_field :address, autofocus: true, autocomplete: "address", :size=>"60"%>
    </div>
  </div>

  <!-- 宛名 -->
  <div class="row">
    <div class="col-lg-3 pl-5 mb-2">
      <%= f.label :宛名 %>
    </div>
    <div class="col-lg-5">
      <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
    </div>
    <div class="col-lg-2">
      <%= f.submit "新規登録", class: "btn btn-success" %>
    </div>
  </div>
<% end %>

<!-- 余白 -->
<div class="my-5"></div>

<div class="row">
    <table class="table table-bordered" style="width:70%">
      <tr class="table-active">
        <th class="bg-gray-light border-dark" style="width:15%">郵便番号</th>
        <th class="bg-gray-light border-dark" style="width:38%">住所</th>
        <th class="bg-gray-light border-dark" style="width:17%">宛名</th>
        <th class="bg-gray-light border-dark" style="width:30%"></th>
      </tr>
      <% @addresses.each do |shipping_address| %>
        <tr>
          <td class="border-dark"><%= shipping_address.postal_code %></td>
          <td class="border-dark"><%= shipping_address.address %></td>
          <td class="border-dark"><%= shipping_address.name %></td>
          <td class="border-dark" style="width:30%">
            <%= link_to "編集する", edit_address_path(shipping_address.id), class: "btn btn-success" %>　<%= link_to "削除する", address_path(shipping_address.id), method: :delete, class: "btn btn-danger" %>
          </td>
        </tr>
      <% end %>
    </table>
</div>

<!-- 余白 -->
<div class="my-5 py-2"></div>
