<div class="container mt-4 mb-5">
  <div class="row mb-2">
      <div class="col-lg-9">
         <h4 style="background-color:#eee; text-align:center; width:275px;">ショッピングカート</h4>
      </div>
      <div class="col-lg-3">
         <div class="text-right">
            <%= link_to "カートを空にする", cart_items_destroy_all_path, method: :delete, class: "btn btn-lg btn-primary" %>
         </div>
      </div>
   </div>
   <div class="row">
      <table class="table table-bordered">
         <tr class="table-active">
            <th>商品名</th>
            <th>単価(税込み)</th>
            <th>数量</th>
            <th>小計</th>
            <th><br></th>
         </tr>
         <% @sum = 0 %>
         <% @cart_items.each do |cart_item| %>
            <tr>
               <td>
                  <%= image_tag cart_item.item.get_image, size:'130x80' %>
                  <%= cart_item.item.name %>
               </td>
               <td>
                  <%= cart_item.item.with_tax_price %>
               </td>
               <td>
                  <%= form_with model:cart_item, url:cart_item_path(cart_item.id) , local:true do |f| %>
                     <%= f.select :amount, *[1..10] %>
                     <%= f.submit "変更" , class: "btn btn-success" %>
                  <% end %>
               </td>
               <td><%= cart_item.subtotal %></td>
               <td><%= link_to "削除", cart_item_path(cart_item.id) ,  method: :delete , "data-confirm" => "商品を削除しますか？" , class: "btn btn-danger"%></td>
            </tr>
            <% @sum += cart_item.subtotal %>
         <% end %>
      </table>
   </div>
   <div class="row" style="display:flex; justify-content:space-between; margin-top:15px; align-items-center">
      <div class="col-lg-8">
         <%= link_to "買い物を続ける", root_path, class: "btn btn-primary" %>
      </div>
   <div class="col-lg-4">
         <table class="w-100 table-bordered" style="height:55px;">
            <tr class="table-active">
               <th class="bg-gray-light">合計金額</th>
               <th class="bg-white"><%= @sum %></th>
            </tr>
         </table>
      </div>
   </div>
   <div class="row d-flex justify-content-center align-items-center" style="margin-top:45px;">
      <div class="btn-group btn-group-lg">
         <% if @cart_items.any? %>
            <%= link_to "情報入力に進む", new_order_path, class: "btn btn-success" %>
         <% end %>
      </div>
   </div>
</div>