<div class="container mt-4">
  <div class="row">
    <div class="col-lg-9"> <!-- col-lg-9 に変更 -->
      <h2>注文履歴一覧</h2>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th>注文日</th>
          <th>配送先</th>
          <th>注文商品</th>
          <th>支払金額</th>
          <th>注文詳細</th>
        </tr>
      </thead>
      <% @orders.each do |order| %>
        <tr>
          <td><%=link_to order.created_at.strftime('%Y/%m/%d %H:%M:%S') %></td>
          <td>
            <P>
              〒<%= order.postal_code %>
              <%= order.address %>
              <%= order.name %>
            </P>
          </td>
          <td>
          <% OrderDetail.where(order_id: order.id).each do |order_detail| %>
            <%= order_detail.item.name %></br>
          <% end %>
          </td>
          <td><%= order.total_payment %></td>
          <td></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>