<div class="col-lg-11 offset-lg-1 pb-2">
  <h4 style="background-color:#eee; text-align:center; width:180px;">注文情報入力</h4>
</div>

<div class="w-100">
  <%= form_for @order, url: "/orders/confirm", method: :post do |f| %>

      <h5><strong>支払方法</strong></h5>
      <div style="padding-left:30px">
        <p>
          <%= f.radio_button :payment_method,:クレジットカード,checked: "checked" %>
          <%= f.label :payment_method, "クレジットカード" %>
          <br>
          <%= f.radio_button :payment_method, :銀行振込 %>
          <%= f.label :payment_method, "銀行振込" %>
        </p>
      </div>
      <h5><strong>お届け先</strong></h5>
      <div style="padding-left:30px">
        〒<%= current_customer.postal_code %>
        <%= current_customer.address %><br>
        <%= current_customer.last_name %><%= current_customer.first_name %>
      </div>

    <div class="row justify-content-center mt-5">
      <div class="btn-group btn-group-lg">
        <%= f.submit "確認画面へ進む", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>

