  <div class="row mb-4">
    <div class="col-11 offset-1">
      <h3 class="px-3" style="background-color:#eee; width:fit-content;">ログイン</h3>
    </div>
  </div>

  <div class="col-11 offset-1 pl-4">
    <h4 class="px-3" style="background-color:#eee; width:fit-content;">会員の方はこちらからログイン</h4>
　</div>

　<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
　<%= render "public/shared/error_messages", resource: resource %>
    <div class="row mb-3">
      <div class="col-lg-2 offset-lg-3">
        <%= f.label "メールアドレス" %>
      </div>
      <div class="col-lg-5">
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
    </div>

     <div class="row mb-3">
      <div class="col-lg-2 offset-lg-3">
        <%= f.label "パスワード" %>
      </div>
      <div class="col-lg-5">
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3 offset-lg-5">
        <%= f.submit "ログイン", class:"btn btn-primary px-4 mt-3 mb-5" %>
      </div>
    </div>
  <% end %>

  <div class="col-lg-9 offset-lg-1 pt-4">
    <h5 class="px-3" style="background-color:#eee; width:fit-content;">会員登録がお済みでない方</h5>
　</div>
  <div class="col-lg-6 offset-lg-2 pl-3" style="margin-bottom:200px;">
      <%= link_to "こちら", new_registration_path(resource_name) %>　から新規登録を行ってください。
  </div>
