<div class="row py-4">

  <div class="col-md-3">
    <%= render 'public/shared/left_sidebar', genres: @genres %>
  </div>

  <div class="col-md-3 text-center">
    <%= image_tag(@item.get_image, class: "img-fluid", style: "max-height: 400px; width: auto;") %>
  </div>

  <div class="col" style="padding-left:35px;">
    <h2>
      <%= @item.name %>
    </h2>

    <div style="font-size:24px; height:70px;">
    <%= @item.introduction %>
    </div>
    <div>
      <p style="font-size:14px;">
        <span style="font-size:28px;">￥<%= @item.with_tax_price %></span>
      （税込）
      </p>
    </div>

    <%= form_with model:@cart_item_new, local:true do |f| %>
    <div>
      <%= f.hidden_field :item_id, :value => @item.id %>
      <%= f.select :amount, *[1..10] %>
      <%= f.submit "カートに入れる", class: 'btn btn-success' %>
    </div>
    <% end %>
  </div>
</div>