<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://kit.fontawesome.com/200d44628f.js" crossorigin="anonymous"></script>


    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="d-flex flex-column min-vh-100"style="box-sizing: border-box;">
    <%= render 'layouts/header' %>
    <main>
      <div class="container h-100 pt-5 pb-3" style="background-color:#fffdfa;">
        <%= yield %>
      </div>
    </main>
    <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
